<%# about Gobbledybook %>

<div id="home_main">
			
	<div id="ten_seconds">
			<img src="<%=image_path("site/horizontalstack.jpg") %>">
	
		<div class="find_title">I have a problem with cookbooks and I am betting that you do too.</div> 
		<p>
		First of all, <i>I love printed cookbooks</i>. I love flipping through them, looking at the pictures, and becoming inspired by their stories or even just the lists of ingredients. I love browsing the shelves at local bookshops or reading through the reviews on Amazon or on the many food blogs that I read. But when it comes to actually cooking from one of the books lining our shelves, I hit a major road block. <p>
		<center><i>If I have an idea of what I want to cook, how do I find the cookbook with that has that recipe tucked away in it? </i></center>
		<p>
		What I used to do was stand in front of my bookshelf, pick up a book, flip to its index and browse, and then move on to the next book. I'd probably spend 15 or 20 minutes doing this. Sometimes more. Even if I knew the recipe was say, from Donna Hay, I'd have to flip through 6 books! In the end, I always seemed to end up feeling frustrated, and giving up, and going blogs or sites like Epicurious to see what recipes we could find online. That's all fine and dandy... dinner gets made and all. But, then I'd end up feeling guilty about all the money that I spend on buying the cookbooks in the first place. Not, of course, guilty enough to stop buying them (which only makes the problem worse)! 
		<p>
		That's why I created GobbledyBook. At its simplest, it's a tool to help you index the recipes that appear in the printed cookbooks you own. It's not a replacement for those cookbooks... it will just help you find the recipes in them much more quickly than standing there and flipping through the back of each book. 
		<p>
		But, it's also more than that. It's a place where you can let people know what you thought about cooking those recipes, and where you can see what recipes your friends liked best (who's pasta recipe is best... Jamie Oliver's? Marcella Hazon's? Donna Hay's? Mario Batali's?). It's a place that can help you discover new cookbooks that have the recipes you are interested in trying (Looking for how to cook goat? Xiao Long Bao? Yeasty Waffles? ). It's a place where you can figure out which cookbooks will help you make stuff with your CSA (yet another week of zucchini!). 
	<p>
		GobbleyBook is just getting started. Already, there are <%=@recipecount%> recipes to search through, with more being added daily. Join us by grabbing a cookbook and starting your catalog!
		<p>
		Bon Appetit!<br>
		Lara
		<p>
	<b>Who We Are</b><p>
	
	I'm <a href="http://www.laraferroni.com/" target="_blank">Lara</a>, and you may know me from my blogs <a href="http://www.cookandeat.com/" target="_blank">Cook & Eat</a> and <a href="http://www.stilllifewith.com/" target="_blank">Still Life With</a>. I started GobbledyBook in my spare time, but I couldn't have done it without help from my husband, <a href="http://www.camferroni.com/" target="_blank">Cameron</a> and my friends <a href="http://www.wrightangle.com/" target="_blank">Dawn & Eric Wright</a>.<p>

<p>
Interested in helping out with GobbledyBook development? I'd love to have some help! Unfortunately, at this point, it's just a labor of love, so I have no budget for development. However, I'm happy to talk about equity share. Send me some <a href="mailto: lara@laraferroni.com">email</a> and we'll talk.  	
<p>	
	Feel free to contact us by <a href="mailto: lara@laraferroni.com">email</a> with questions, bugs or feature ideas! 
</div>
</div>

