<p>
<strong>Why should I use GobbledyBook?</strong><br>
GobbledyBook is different than other recipe websites, which are basically online cookbooks. GobbledyBook is a tool to help you use your bookshelf of cookbooks better. Instead of flipping through book after book, you can simply search on GobbledyBook for the recipe you want to make (or ingredients you want to use), and we'll help you find the recipe in cookbooks you already have (or, perhaps may want to buy in the future). Find out more <a href="aboutUs">about GobbledyBook here</a>. 
<p>
<strong>Is GobbledyBook free?</strong><br>
Yes!
<p>	
<strong>How can I help?</strong><br>
The best way to help is to start actively using the site and by telling your friends and family about it. The more cookbooks that are in the catalog, the more useful the site will be!
<p>
You can also <a href="mailto:lara@laraferroni.com">send feedback</a> about what you like and don't like about the site. 
<p>	
<strong>My favorite cookbook isn't listed yet. When will it be cataloged?</strong><br>
Well, you could wait around for someone else to enter it... there is a good chance if it is your favorite, it is someone else's too. Or, you can lend a hand and enter the recipes yourself! Just log in (or sign up! It's free!), and start typing. You might be surprised to find some new recipe ideas as you enter. I know I do!
<p>
<strong>I have a cookbook that I want to enter, but I can't find it on your site. How do I add it?</strong><br>
Assuming you've already tried to find it in the drop-down on the bottom of the home page, it's possible that it isn't currently in our catalog. Soon, we'll be implementing a feature that lets you add new cookbooks to our already large catalog of about 20,000 titles, but until then, just <a href="mailto:lara@laraferroni.com">email me</a> the ISDN, Title/Authors name, or a link to the book on Amazon and I'll get it added as soon as possible. 
<p>
<strong>Your site doesn't seem to work in my browser! What gives?</strong><br>
Sorry about that. As a one-person design, development, test and data entry team, I can't ensure that every browser will render GobbledyBook as intended. For absolutely best results, please use the latest version of <a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>. Although I've done some testing with both Safari & Internet Explorer, there are likely still some bugs that I haven't yet found. If you stumble across one, feel free to <a href="mailto:lara@laraferroni.com">send me</a> a description of the problem, and I'll try to correct it as soon as possible!
<p>
<strong>I logged in a long time ago with Facebook, but I can't seem to login that way anymore. What happened to my data?</strong><br>
When I originally implemented Gobbledybook, I used Facebook Connect to login. Much to my surprise, I had a ton of feedback asking for a way to login without Facebook. Unfortunately, I don't have the bandwidth to support both types of login, so recently, we removed the Facebook login and replaced it with a simpler email based login system. If you had used Gobbledybook with Facebook, you'll need to create a new account. Unfortunately, this also means you'll need to reclaim the cookbooks you own. If this is a big problem, <a href="mailto:lara@laraferroni.com">let me know</a>, and I will hand create your login matching it up with your old data. 
<p>
<strong>I found a recipe that says it is gluten free (or vegan or vegetarian), but it isn't. Don't you have some sort of quality control?</strong><br>
Recipes on GobbledyBook are entered by volunteers, and mistakes are certainly possible. The best thing to do is just to log in and help us out by fixing it! Thanks!
<p>
<strong>Who did your awesome illustrations?</strong> <br>
Oh, I'm so glad you asked! The adorable little stacks of books, whisks, and dietary icons were designed by <a href="http://www.ximenamaier.com/">Ximena Maier</a> whose work I adore. 
<p>	
<strong>I work for a publisher, and we'd love to have you list all of our cookbooks!</strong><br>
Great! Send me some <a href="mailto:lara@laraferroni.com">email</a>, and we can work out a way for you to send me the index information for your books. 
<p>	
<strong>Have you thought about feature X? </strong><br>
Maybe. But maybe not. Although I still have lots of "to do" features on my list, I am very open to feature suggestions! Please <a href="mailto:lara@laraferroni.com">send</a> them my way!	
<p>
<strong>Do you accept advertising?</strong><br>
Not yet, but at some point, I probably will. If you are interested in advertising on GobbledyBook, please send me <a href="mailto:lara@laraferroni.com">email</a> with a link to your website so we can see if it is a good fit. 

 