<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>GobbledyBook: A Feast of Pages</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Lara Ferroni">
	<meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />        
	
	<!-- YUI css files -->
		<%= stylesheet_link_tag "fonts-min.css" %>
		<%= stylesheet_link_tag "autocomplete.css" %>
	<!-- end YUI css files -->

	<%= stylesheet_link_tag "main_styles" %>

	
	<%= javascript_include_tag :defaults, 'prototype', 'livepipe', 'event_behavior', 'hotkey'  %>

	<!-- YUI script files --> 
	
	<%= javascript_include_tag 'yahoo-dom-event.js', 'connection-min.js','datasource-min.js', 'autocomplete-min.js','element-beta-min.js' %>
	<%# javascript_include_tag 'yahoo-min.js', 'dom-min.js', 'event-min.js' , 'animation-min.js'%>

	<!-- end YUI script files --> 

</head>
<body   class=" yui-skin-sam">
	
	<div id="page_wrap"><div id="page_stitch"><div id="page_pad">
	<div id="header">
	
Site Tools

 | <a href="manageTags">Tag Manager</a> | <a href="killbadTags">Clean up Orphaned Tags</a> | <a href="addCookbook">Add a Cookbook</a> | <a href="getRatings">Get Cookbook Ratings</a> | <a href="convertSDs">Convert SD Tags</a>  | <a href="pluralizeTags">Pluralize Tags</a>
<p>
		</div>
	
	<%= yield :layout %>
	
	</div></div></div>
</body>
</html>
